
@media screen and (min-width: 900px) {


    #audio {
        height: 32px;
        width: 32px;
        position: sticky;
        background: #522F81;
        padding-top: 0.75vh;
        padding-bottom: 0.75vh;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        border-radius: 10px;
        opacity: 0.25;
        box-shadow: #000000 0px 0px 10px, #000000 0px 0px 20px, #000000 0px 0px 30px;
    }

    #audio:hover {
        opacity: 1;
    }

    
    body {
    font-family: dm-mono-medium, monospace;
    background-image: url('../assets/background-scrollable.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: pixelated;
    background-color: #000000;
    animation: background 1s ease-in-out;
    }


    .box{
        /* From https://css.glass */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
        padding: 0.1vw;
        border-radius: 10px;
        background-color: #0e0430e3;
        backdrop-filter: blur(5px);
        height: 80vh;
        animation: flyIn 1s ease-in-out;
    }

    .pet-options {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 5vh;
        height: 40vh;
        gap: 2vw;
        align-items: center;
        border-radius: 10px;
        padding: 1vh;
        margin-bottom: 2vh;
        width: auto;
    }
    h1 {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        color: #BBD6FD;
        margin-top: 5vh;
    }

    .pet-naming {
        display: flex;
        justify-content: center;
        margin-top: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    input[type="text"] {
        padding: 10px;
        width: 45vw;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 2vh;
        border: 10px solid #30255F;
        background-color: #0E0430;
        border-radius: 10px;
        color: #BBD6FD;
        font-family: 'DM Mono', monospace;
        text-align: center;
        font-size: calc(1vw + 1vh + 1vmin);
    }
    #pet1, #pet2, #pet3, #pet4, #pet5, #pet6, #pet7, #pet8{
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        width: 128px;
        height: 128px;
        border: 10px solid #30255F;
    }
}


@media screen and (max-width: 900px) {

    #audio {
        visibility: hidden;
    } 

    body {
    font-family: dm-mono-medium, monospace;
    background-image: url('../assets/background-scrollable.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: pixelated;
    background-color: #000000;
    animation: background 1s ease-in-out;
    }


    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vh;
        margin-left: 1vw;
        margin-right: 1vw;
        /* From https://css.glass */
        padding: 25px;
        border-radius: 10px;
        background-color: #0e0430e3;
        backdrop-filter: blur(5px);
        overflow: hidden;
        height: 90vh;
        animation: flyIn 1s ease-in-out;
    }

    .pet-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5vh;
        margin-left: 1%;
        margin-right: 1%;
        gap: 5vw;
        align-items: center;
        border-radius: 10px;
        padding: 1vh;
        margin-bottom: 2vh;
        height: 75vh;
    }


    h1 {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        color: #BBD6FD;
        margin-top: 5vh;
    }

    input[type="text"] {
        padding: 10px;
        width: 70vw;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2vh;
        border: 10px solid #30255F;
        background-color: #0E0430;
        border-radius: 10px;
        color: #BBD6FD;
        font-family: 'DM Mono', monospace;
        text-align: center;
    }

    #pet1, #pet2, #pet3, #pet4, #pet5, #pet6, #pet7, #pet8{
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        width: 96px;
        height: 96px;
        border: 10px solid #30255F;
    }
    
}


@keyframes background {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
    
}

@keyframes flyIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 0px;
}